Binaries
DerivedDataCache
Intermediate
Saved
Build
Plugins/Developer/RiderLink
Plugins/.DS_Store
Plugins/Developer/.DS_Store
.DS_Store
.idea/*
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
